Source: python-dlib
Section: utils
Priority: extra
Maintainer: slimbook <dev@slimbook.es>
Build-Depends: debhelper-compat (= 13), cmake, python3-dev, pybind11-dev, libdlib-dev, python3-pip
Standards-Version: 4.6.0
Homepage: https://github.com/Slimbook-Team/python-dlib
Rules-Requires-Root: no
 
Package: python3-dlib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libdlib19.1t64
Description: python bindings for dlib
 Python bindings for dlib
